{% extends 'base.html.twig' %}
{% block submenu %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('vatrate_new') }}">Add New</a></li>
        <li><a href="{{ path('vatrate_index') }}">List</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1>VAT Rate creation</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_label(form.code, 'Code', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
            <div class="col-md-3 col-sm-4">
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
            </div>
        {{ form_errors(form.code) }}
    </div>  
    
    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
            <div class="col-md-3 col-sm-4">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        {{ form_errors(form.description) }}
    </div>  
    
    <div class="form-group">
        {{ form_label(form.rate, 'Rate', {'label_attr': {'class': 'col-md-1 col-sm-2 control-label'}}) }}
            <div class="col-md-3 col-sm-4">
                {{ form_widget(form.rate, {'attr': {'class': 'form-control'}}) }}
            </div>
        {{ form_errors(form.rate) }}
    </div>  

    <div class="form-group">
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
            {{ form_widget(form.submit, { 'label': 'Add', 'attr': {'class': 'btn btn-sm btn-success'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
    
    
{% endblock %}
